/* Стилизация аккордеона */
.accordion__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: solid 1px var(--grey-3);
    border-radius: 8px;
    width: 730px;
    padding: 24px 48px 24px 32px;
}

.accordion__item:not(:first-child) {
    margin-top: 8px;
}

.accordion__summary::marker {
    content: none;
}

.accordion__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion__toggler {
    width: 16px;
    height: 8px;
    margin-right: -16px;
}

.accordion[open] .accordion__toggler {
    rotate: 180deg;
}
