.histogram {
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    min-width: 240px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px 24px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.histogram__title {
    opacity: 0.8;
    padding: 0;
    margin: 0;
}

.histogram__link {
    margin-top: 3px;
}

.histogram__subheader {
    font-size: 20px;
    line-height: 26px;
    margin-top: 6px;
}

.histogram__chart {
    margin-top: 39px;
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.histogram__chart-item {
    background-color: var(--blue);
    flex-grow: 1;
}